/*--------------------*/
/*----BASIC SETUP----*/
/*------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body{
    text-align: center;
    line-height: 1.2;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

img{
    display: block;
    width: 100%;
    height: auto;      
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p{
    margin: 0;
    padding: 1em 0;
}

.btn {
    text-decoration: none;
}

ul,li {
    list-style: none;
}

section {
    padding: 90px 0px;
}

a {
    text-decoration: none;
}

/*--------------------*/
/*-------HEADER------*/
/*------------------*/

header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

#gamespage-header {
    background-size: cover;
    background-position: center;
    height: auto;
}

/*----Navigation----*/

.nav-logo {
    width: 30px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.main-nav {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}

.main-nav li {
    display: inline-block;
    margin-right: 25px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom 0.2s;
}

/*----Sticky-Navigation----*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 2px 2px #2e2e2e;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 6px 0px;
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*----Main Text & Logo----*/
h1 {
    font-size: 300%;
    word-spacing: 2px;
    text-transform: uppercase;
}

.hero-logo{
    width: 100px;
    height: auto;
}

.hero-logo-box,
.hero-text-box {
    position: absolute;
    transform: translate(-50%,-50%);
}

.hero-logo-box{    
    top: 35%;
    left: 50%;
}

.hero-text-box{
    top: 65%;
    left: 50%;
    
}

/*----Slideshow----*/

slider, slider > * {
    /* What position absolute does is positions the selected element absolute through the entire area of 
    it's parent element, which is most commonly the root element; in other words the width of the browser screen. 
    So it brings it to the top of the element stack.
    To change this you can apply a z-index property to take it behind other elements on the screen. */
    z-index: -1;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

slider{
    opacity: 30%;
}

slider > * {
    animation: slide 12s infinite ease;
}

slide:nth-child(2),
slide:nth-child(3),
slide:nth-child(4) {
    background-size: cover;
    background-position: center;
    left: 100%;
}

slide:nth-child(1) {
    transform: 0%;
    animation-delay: -1s;
    background-image: url("./img/hero.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url("./img/hero2.jpg");
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url("./img/hero3.jpg");
}

slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url("./img/hero4.jpg");
}

@keyframes slide{
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

/*----------------------------*/
/*-------SECTION-GAMES------*/
/*------------------------*/

#sect-games-gamespage {
    padding-bottom: 40px;
    padding-top: 180px;
}

.img-cards {
    padding: 1% 0%;
}

h2 {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

h2::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

/*#section-games ul {
    display: flex;
    justify-content: space-around;
}*/

#section-games li {
    width: 100%;
    padding: 4%;
}

#sect-games-gamespage li{
    width: 100%;
    padding: 4%;
}

@media(min-width: 700px) {

    #section-games ul {
        display: flex;
        justify-content: space-around;
    }    

    #sect-games-gamespage ul{
        display: flex;
        justify-content: space-around;
    }

    #section-games li {
        width: 40%;
    }

    #sect-games-gamespage li{
        width: 40%;
    }
}
.gamephoto {
    display: block;
    position: relative;
    text-align: center;
}

.gamephoto img {
    width: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.overlay{
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #000000;
}

.gamephoto:hover .overlay{
    opacity: 0.8;
}
.gamephoto .overlay .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.gamephoto .game-title{
    
    color: #ffffff;
    text-transform: uppercase;
}

.gamephoto .game-desc{
    
    color: #cccccc;
}

.games-btn{
    position: absolute;
    margin: 2% 0% 4% 0%;
    padding: 2% 0%;
    left: 40%;
    width: 260px;
    height: 60px;
    line-height: 6px;
    color: #ffffff;
    font-size: 120%;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg,#fcbf13, #ea5f3b,#37a45f,#fcbf13);
    background-size: 400%;
    text-align: center;
    border-radius: 30px;
    z-index: 1;
}

.games-btn:hover{
    animation: animate1 6s linear infinite;
}
@keyframes animate1{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.games-btn::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#fcbf13, #ea5f3b,#ea4470,#37a45f,#fcbf13);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.games-btn:hover::before{
    filter: blur(25px);
    opacity: 1;
    animation: animate1 6s linear infinite;
}

/*---------------------------------*/
/*-------SECTION-NEWSLETTER------*/
/*-----------------------------*/

#sect-newsletter-gamespage {
    padding: 40px 0;
}

h3 {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

h3::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.container {
    padding: 0px 0px 10px 0px;
    margin-bottom: 1%;
    background-color: #1a1a1a;
}

.container p {
    color: #f1f1f1;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 90%;
    margin-top: -2%;
}

input[type=text] {
    width: 50%;
    padding: 14px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
  }

input[type=submit] {
        position: absolute;
        left: 44%;
        width: 12%;
        height: 7%;
        line-height: 4px;
        color: #ffffff;
        font-size: 100%;
        text-transform: uppercase;
        text-decoration: none;
        box-sizing: border-box;
        background: linear-gradient(90deg,#fcbf13, #ea5f3b,#37a45f,#fcbf13);
        background-size: 400%;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 30px;
        z-index: 1;
}

input[type=submit]:hover {
    animation: animate1 6s linear infinite;
}

@keyframes animate1{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

/*---------------------------*/
/*-------SECTION-BLOG------*/
/*-----------------------*/

#sect-blog {
    padding-top: 0px;
}

h4 {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

h4::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

h5 {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

h5::after{
    display: block;
    height: 2px;
    background-color: #1a1a1a;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

#sect-blog li{
    margin-bottom: 10%;
    background: #f1f1f1;
    color: #1a1a1a;
}

.blog-images {
    margin-top: 2%;
}

.card {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 5%;
}

@media(min-width: 700px) {

    #sect-blog ul {
        display: flex;
        justify-content: space-around;
    }    

    #sect-blog li {
        width: 30%;
    }

    #sect-blog li{
        margin-bottom: 2%;
    }
}

.blog-view-btn{
    position: absolute;
    margin: 1% 0% 0% 0%;
    padding: 2% 0%;
    left: 40%;
    width: 260px;
    height: 60px;
    line-height: 6px;
    color: #ffffff;
    font-size: 120%;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg,#fcbf13, #ea5f3b,#37a45f,#fcbf13);
    background-size: 400%;
    text-align: center;
    border-radius: 30px;
    z-index: 1;
}

.blog-view-btn:hover{
    animation: animate1 6s linear infinite;
}
@keyframes animate1{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.blog-view-btn::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#fcbf13, #ea5f3b,#ea4470,#37a45f,#fcbf13);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.blog-view-btn:hover::before{
    filter: blur(25px);
    opacity: 1;
    animation: animate1 6s linear infinite;
}

.card-content p a:hover,
.card-content p a:active {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*---------------------*/
/*-------FOOTER------*/
/*-----------------*/

footer {
    background-size: cover;
    background-position: center;
    padding: 5% 0 2% 0;
}

h6 {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

h6::after{
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.main-footer {
    width: 100%;
}

.link-icons-footer li {
    display: inline-block;
    margin: 2%;
}

.link-icons-footer li a:link,
.link-icons-footer li a:visited {
    border: 0;
    color: #ffffff;
    font-size: 120%;
}

.link-icons-footer li a:active,
.link-icons-footer li a:hover {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5999;
}

.ion-social-linkedin:hover {
    color: #0077B5;
}

.ion-social-youtube:hover {
    color: #cd201f;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-instagram:hover {
    color: #e4405f;
}

.copyright {
    font-size: 80%;
}

.copyright a:link,
.copyright a:visited {
    background: -webkit-linear-gradient(#fcbf13, #ea5f3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}